* {
    font-family: 'Open Sans', sans-serif;
    background-color: #e6ffff;
}

body {
    margin: 0;
}

.nav {
    background-color: #1d1c25;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.nav h1 {
    margin: 0px;
    font-size: 35px;
    color: #1d1c25;
    background-color: #92cbcd;
    padding: 0px 20px 0px 50px;
    margin-bottom: 5px;
}

.ul {
    display: flex;
    background-color: #1d1c25;
}

.ul li {
    margin-right: 20px;
    list-style-type: none;
}

a {
    background-color: #1d1c25;
    text-decoration: none;
    border-bottom: 4px solid #92cbcd;
    font-size: 17px;
    color: #92cbcd;
    padding: 0px 10px;
}

.first {
    width: 100vw;
}

.hero-text {
    color: #1d1c25;
    background-color: #92cbcd;
    margin: -62px 0px 25px;
    position: absolute;
    right: 0;
    padding: 5px 41px 5px 15px
}


.h1 {
    color: #302a71;
    font-size: 30px;
    padding-right: 15px;
    margin-right: 20;
    border-right: 4px solid #302a71;
    text-align: right;
    margin-left: 100px;
}

#work .h1 {
    padding-left: 11px;
}

aside {
    display: flex;
}

p {
    padding: 0px 60px 0px 20px;
}

/* .work {
    display: flex;
} */


.main-content {
    display: flex;
}


.main {
    padding-left: 20px;
}

.flex-direction{
    display: flex;
}

.second {
    width: 95%;
    border: 4px solid #92cbcd;
}

.coloumn {
    width: 50px;
    border: 3px solid black;
}

.third {
    border: 4px solid #92cbcd;
}

footer .h1 {
    background-color: blueviolet;
    display: flex;
    margin: 0px 23px;
}
.footnav {
    background-color: #e6ffff;
    color: #302a71;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.footnav h1 {
    display: flex;
    margin-right: 23px;
    font-size: 30px;
    color: #302a71;
    background-color: #e6ffff;
}

.footnav ul {
    padding: 0px;
    margin: 20px 160px;
}

.footnav ul li {
    display:inline-flex;
    list-style-type: none;
    background-color: #e6ffff;
    color: #302a71;   
    margin: 0px 5px; 
}

.footnav li {
    background-color: #e6ffff;
    justify-content: space-around;
}

.list {
    background-color: #e6ffff;
    text-decoration: none;
    border-bottom: 4px solid #302a71;
    font-size: 17px;
    color: #302a71;
    padding: 0px 20px;
    margin: max;
}

.img {
    width: 90%;
}

.column {
    margin: 10px;
    
}

.article {
    display: flex;
    margin: -9px;
}

.title {
    background-color: #92cbcd;
    margin: -150px 0px 0px 0px;
    position: absolute;
    padding: 2px 40px 0px 10px;
}

h3 {
    font-size: 25px;
    background-color: #92cbcd;
}

h4 {
    font-size: 12px;
    background-color: #92cbcd;
}

@media screen and (max-width: 1366px) {
    .footnav {
        margin: 35px 176px;
    }
}

@media screen and (max-width: 992px) {
    .footnav {
        margin: 30px 150px;
    }
    
    .h1 {
        margin: 0px 4px 0px 50px;
    }
    
    .article {
        display: block;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 10px
    }

    
}

/* @media screen and (max-width: 640px) {
    body {
        background-color: red;
    }

    .footnav {
        margin: 35px 176px;
    }
} */