* {
    font-family: 'Open Sans', sans-serif;
    background-color: #e6ffff;
}

body {
    margin: 0;
}

.nav {
    background-color: #1d1c25;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.nav h1 {
    margin: 0px;
    font-size: 30px;
    color: #1d1c25;
    background-color: #92cbcd;
    padding: 0px 20px 0px 50px;
}

.ul {
    display: flex;
    background-color: #1d1c25;
}

.ul li {
    margin-right: 20px;
    list-style-type: none;
}

a {
    background-color: #1d1c25;
    text-decoration: none;
    border-bottom: 4px solid #92cbcd;
    font-size: 17px;
    color: #92cbcd;
}

img {
    width: 100vw;
}

.hero-text {
    color: #1d1c25;
    background-color: #92cbcd;
    margin: -60px 17px 40px;
    position: absolute;
    right: 0;
    padding: 2px 40px
}

.h1 {
    color: #302a71;
    font-size: 30px;
    padding-right: 15px;
    margin-right: 6px;
    border-right: 4px solid #302a71;
    text-align: right;
    margin-left: 100px;
}

.about-me {
    display: flex;
    padding-left: 20px;
}

p {
    padding: 0px 60px 0px 20px;
}

.work {
    display: flex;
}

.main {
    padding-left: 20px;
}

.footer {
    background-color: #e6ffff;
    color: #302a71;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer h1 {
    display: flex;
    /* padding: 0px;
    margin: 0px; */
    font-size: 30px;
    color: #302a71;
    background-color: #e6ffff;
    /* padding: 0px 20px 0px 50px; */
}

.footer ul li {
    display: inline-flex;
    list-style-type: none;
    background-color: #e6ffff;
    color: #302a71;    
}

.footer li {
    background-color: #e6ffff;
}

.list {
    background-color: #e6ffff;
    text-decoration: none;
    border-bottom: 4px solid #302a71;
    font-size: 17px;
    color: #302a71;
   
}