* {
    font-family: 'Open Sans', sans-serif;
    background-color: #e6ffff;
}

body {
    margin: 0;
}

.nav {
    background-color: #1d1c25;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.nav h1 {
    margin: 0px 0px 5px;
    font-size: 35px;
    color: #1d1c25;
    background-color: #92cbcd;
    padding: 0px 20px 0px 50px;
}

.ul {
    display: flex;
    background-color: #1d1c25;
}

.ul li {
    margin-right: 20px;
    list-style-type: none;
    background-color: #1d1c25;
}

a {
    background-color: #1d1c25;
    text-decoration: none;
    border-bottom: 4px solid #92cbcd;
    font-size: 17px;
    color: #92cbcd;
    padding: 0px 10px;
}

.first {
    width: 100vw;
    border: none;
}

.hero-text {
    color: #1d1c25;
    background-color: #92cbcd;
    margin: -62px 0px 25px;
    position: absolute;
    right: 0;
    padding: 5px 41px 5px 15px
}

aside {
    display: flex;
}

.h1 {
    color: #302a71;
    font-size: 30px;
    padding-right: 15px;
    margin-right: 20;
    border-right: 4px solid #302a71;
    text-align: right;
    margin-left: 100px;
}

p {
    padding: 0px 60px 0px 20px;
}

#work .h1 {
    padding-left: 11px;
}

.main-content {
    display: flex;
}

.main {
    padding-left: 20px;
}

.project {
    width: 95%;
    border: 4px solid #92cbcd;
    cursor: grab;
}

.title {
    background-color: #92cbcd;
    margin: -150px 0px 0px 0px;
    position: absolute;
    padding: 2px 40px 0px 10px;
}

h3 {
    font-size: 25px;
    background-color: #92cbcd;
    margin: 5px 0px;
}

h4 {
    font-size: 12px;
    background-color: #92cbcd;
    margin: 7px 0px;
}

.article {
    display: flex;
    margin: -9px;
}

.column {
    margin: 10px;
}

/* .column1 {
    width: 960px;
    height: 460px;
    position: relative;
}

/* .overlay {
    position: absolute;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

.column1:hover .overlay {
    opacity: 1;
} */

img {
    width: 90%;
    border: 4px solid #92cbcd;
    cursor: grab;
}

.footnav {
    display: flex;
}

.footnav .h1 {
    margin: 24px 0px 24px 21px;
}

.footnav ul {
    display: flex;
    padding: 30px;
    margin: 0px 120px;
}

.footnav ul li {
    list-style-type: none;
    padding: 10px;
}


/* footer {
    padding: 0px;
}

.footnav {
    display: flex;
    padding-right: 235px;
    justify-content: space-between;
}

.footnav h1 {
    display: flex;
    margin-right: 23px;
    font-size: -60px;
    color: #302a71;
    background-color: #e6ffff;
}

.footnav ul {
    display: inline-flex;
    padding: 0px;
    margin: 20px 160px;
}

.footnav ul li {
    display:inline-flex;
    list-style-type: none;
    background-color: #e6ffff;
    color: #302a71;   
    margin: 0px 5px; 
}

.footnav li {
    background-color: #e6ffff;
    justify-content: space-around;
} */

.list {
    background-color: #e6ffff;
    text-decoration: none;
    border-bottom: 4px solid #302a71;
    font-size: 17px;
    color: #302a71;
    padding: 0px 20px;
    margin: 0px;
}

@media screen and (max-width: 1080px) {
    .footnav .h1 {
        margin: 24px 0px 24px 50px;
    }

    .footnav ul {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        margin: 0px 25px;
    }
}

@media screen and (max-width: 780px) {
    .nav {
        width: 100%;
        background-color: #1d1c25;
        justify-content: center;
        align-content: space-around;
        display: inline-block;
        padding: 10px 0px 10px 0px;
    }

    aside {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .h1 {
        color: #302a71;
        font-size: 30px;
        padding-right: 15px;
        margin-right: 20;
        border-bottom: 4px solid #302a71;
        text-align: right;
        margin-left: 100px;
    }
    
    .footnav .h1 {
        margin: 24px 0px 24px 74px;
    }

    .footnav ul {
        display: flex;
        padding: 15px;
        margin: 0px 15px;
    }
}

@media screen and (max-width: 500px) {
    .nav {
        background-color: #1d1c25;
        padding: 0px;
        margin: 0px;
    }

    .ul {
        display: flex;
        padding: 10px;
        justify-content: space-between;
        align-content: center;
        background-color: #1d1c25;
    }

    .ul li {
        margin-right: 20px;
        list-style-type: none;
        background-color: #1d1c25;
    }

    a {
        background-color: #1d1c25;
        text-decoration: none;
        border-bottom: 4px solid #92cbcd;
        font-size: 12px;
        color: #92cbcd;
        padding: 0px 10px;
    }

    aside {
        display: block;
    }
    
    .h1 {
        color: #302a71;
        font-size: 30px;
        padding-right: 15px;
        margin-right: 20;
        border-right: 4px solid #302a71;
        text-align: right;
        margin-left: 100px;
    }
    
    p {
        padding: 0px 60px 0px 20px;
    }
    .footnav .h1 {
        margin: 24px 0px 24px 74px;
    }

    .footnav ul {
        display: flex;
        flex-direction: column;
        padding: 15px;
        margin: 0px 15px;
    }
}